[all:vars]
ansible_connection=ssh 
ansible_ssh_user=pi 
ansible_ssh_pass=yyyyyyyyy

# Reduce memory reservation for GPU as no UI is expected (minimal installation)
gpu_memory=16

# Lower cpu freq and save some juice (default 700)
cpu_freq=600

# dhcpcd.conf
eth0_router=192.168.xxx.xxx
eth0_nameservers=192.168.xxx.xxx

# Base URL for receiver (see https://github.com/ytsworld/greenhouse-receiver)
greenhouse_recv_url=https://europe-west1-[PROJECT_ID].cloudfunctions.net/greenhouse-receiver
# The physical pin number attached led to indicate errors
greenhouse_client_error_led_physical_pin=12
# The physical pin number attached led to indicate measurement progress and success
greenhouse_client_progress_led_physical_pin=8
# The GPIO pin with is used to collect data from DHT22 digital outputs
greenhouse_client_dht22_gpio_pin=17
# The number of seconds to wait between measurements
greenhouse_client_measure_every_seconds=45

[greenhouse]
# ansible_ssh_host is the ip address under which the device is currently available
# eth0_static_ip is the target ip at which eth0 should listen
rpiv3-greenhouse-dev     ansible_ssh_host=192.168.xxx.xxx eth0_static_ip=192.168.xxx.xxx/24 dev_device=true  prod_device=false
rpiv3-greenhouse-prod    ansible_ssh_host=192.168.xxx.xxx eth0_static_ip=192.168.xxx.xxx/24 dev_device=false prod_device=true
